{% extends "AppBundle:Layout:layout.html.twig" %}

{% block stylesheetss %}
    {{ parent() }}


{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="legend">
                <legend class="">Rejestracja</legend>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            Rejestracja przebiegła pomyślnie. Możesz się zalogować.
        </div>
    </div>

{% endblock %}
